{% extends 'main/layout.html' %}

{% block title %}$Rich${% endblock %}

{% block content %}
	<div id="main-info">
		<h2>Добро пожаловать в клуб!</h2>
		<p>На этом сайте собрана различная информация о нём.</p>

		<h2>Правила клуба</h2>
		<p id="dd">Нарушение карается киком из клуба, либо понижение в звании</p>
		<ul>
			<li>Первое правило клуба - никому не рассказывать о клубе)</li>
			<li>Не оскорблять соклубовцев. Будьте вежливы друг к другу!</li>
			<li>Отыгрывать все билеты в сезоне. Если у вас были свои причины, почему вы не отыграли, то, пожалуйста, предупредите заранее, либо объяснитесь в чате клуба, либо в телеграме</li>
			<li>Играйте в лигу в команде со своим соклубовцем, пожалуйста. Отыгровка в одиночку запрещена.</li>
			<li>Также обязательно состоять в телеграм-чате!</li>
		</ul>

		<h3>Звания в клубе</h3>
		<p>До ветерана может быть повышен человек, который соответствует следующим требованиям:</p>
		<ul>
			<li>Занимает топ 5 по набитым трофеям в лиге клубов;</li>
			<li>Адекватный, вежливый, спокойный, инициативный, принимающий активное участие в жизни клуба;</li>
			<li>Есть в данном чате.</li>
		</ul>	
		<p>До вице-президента может быть повышен человек, который соответствует следующим требованиям:</p>
		<ul>
			<li>Каждый сезон тратит все 14 билетов, играет в команде и в силовой матч;</li>
			<li>Адекватный, вежливый, спокойный, инициативный, принимающий активное участие в жизни клуба;</li>
			<li>Есть в данном чате;</li>
			<li>Имеет звание ветерана(возможны исключения, если человек сильно преуспевает в остальных пунктах);</li>
			<li>Прошёл проверку на доверие от президента.</li>
		</ul>

		
		<h2>Чат в Telegram</h2>
		<p>Вы можете написать нашему админу (<a href="t.me/stepa_meow">ссылка</a>). Пока, это единственный способ попасть к нам в клуб. Удачи!</p>	
		<h3>Правила чата (также вы можете прочесть их в самом чате)</h3>
		<ul>
			<li>Спам картинками, стиками, гифками, видео, голосовухами и тд категорически запрещен.</li>
			<li>Оскорбления, создание негативной атмосферы в чате, надменное и гордое поведение, любые формы давления и угнетение по каким-либо признакам(по типу возраста, нации и тп) запрещены.</li>
			<li>Запрещено приглашать или кикать кого-либо без моего ведома.</li>
			<li>Запрещено скидывать любые материалы жёсткого содержания и материалы, запрещённые для лиц младше 18 лет.</li>
		</ul>
	</div>
{% endblock %}
