{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
	<aside>
		<span class="logo">$Rich$</span>
		<ul>
			<a href="{% url 'club-wars' %}"><li>Войны клубов</li></a>
			<a href="{% url 'members' %}"><li>Участники клуба</li></a>
			<a href="{% url 'home' %}"><li>Главная</li></a>
		</ul>
	</aside>
	<main>
		{% block content %}
		{% endblock %}
		
		<hr>

		<div class="end-contact">
			<ul class="end-contact">
				<a href=""><li>Поддержать проект</li></a>
				<a href="https://github.com/itmirka/brawl-stars" target="_blank"><li>GitHub</li></a>
			</ul>
			<p id="supersell-rule">Ⓒ This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see Supercell’s Fan Content Policy: <a href="https://supercell.com/en/fan-content-policy/" target="_blank">www.supercell.com/fan-content-policy</ah>.</p>
		</div>
	</main>
</body>
</html>