{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
	<aside>
		<span class="logo">$Rich$</span>
		<ul>
			<a href=""><li>Войны клубов</li></a>
			<a href="{% url 'members' %}"><li>Участники клуба</li></a>
			<a href="{% url 'home' %}"><li>Главная</li></a>
		</ul>
	</aside>
	<main>
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>